* {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

html,
body,
#root,
.main {
  overflow-x: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

button,
a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

.main {
  height: 100vh;
  width: 1000vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.main .loader {
  size: 6%;
  position: fixed;
  top: 44%;
}

.catalog,
.cart {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  margin-top: 10vh;
  padding-top: 30px;
  padding-bottom: 30px;
  animation: 1s fadeIn;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.cart {
  justify-content: flex-start;
  align-items: center;
}

.cart h1 {
  padding-top: 30vh;
}

header {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 10vh;
  align-items: center;
  justify-content: center;
  background-color: #f50057;
  position: fixed;
  z-index: 1;
  top: 0;
}

header nav ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92vw;
  height: 5vh;
}

.nav-btn {
  height: 5vh;
}

.product {
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product-catalog {
  flex-direction: column;
  margin: 10px 15px 20px 15px;
}

#product-catalog .photo {
  width: 85%;
  height: auto;
}

#product-catalog .column .product-details {
  display: flex;
  width: 100%;
  height: 6vh;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

#product-catalog p {
  height: 6vh;
  width: 100%;
  line-height: 2vh;
  overflow: hidden;
}

#product-catalog .column {
  width: 85%;
  margin: 0;
}

#product-cart {
  height: 25vh;
  width: 75vw;
  margin: 10px 0 10px 0;
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#product-cart .photo {
  width: auto;
  height: 30vh;
}

#product-cart .column {
  height: 24vh;
  width: 50vw;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 30px;
}

#product-cart .column .product-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

#product-cart p {
  padding-top: 10px;
  height: auto;
  height: 18vh;
  width: 100%;
  line-height: 2vh;
  overflow: hidden;
}

@media screen and (max-width: 970px) {
  .cart-product {
    width: 100vw;
  }
  #product-cart {
    height: 30vh;
    width: 95vw;
    justify-content: center;
  }
  #product-cart .column {
    width: 60vw;
    padding-left: 20px;
  }
}

@media screen and (max-width: 810px) {
  #product-cart {
    width: 100vw;
  }
  #product-cart .column {
    width: 55vw;
    height: 30vh;
    padding-left: 10px;
  }
}
@media screen and (max-width: 781px) {
  #product-cart .column {
    height: 25vh;
    width: 60vw;
  }
  #product-cart p {
    padding-top: 4px;
    padding-bottom: 4px;
  }
  #product-cart .column .product-details {
    height: 5vh;
  }
}

@media screen and (max-width: 768px) {
  .catalog-product {
    padding-left: 0;
    padding-right: 0;
  }

  #product-catalog {
    margin: 0;
  }

  #cart-log {
    height: 60px;
    width: 60px;
  }
  #product-cart p {
    height: 30vh;
  }
}

@media screen and (max-width: 710px) {
  #product-cart {
    height: 36vh;
  }
  #product-cart .column {
    height: 34vh;
    width: 55vw;
  }
  #product-cart .column .product-details {
    height: 9vh;
  }
}

@media screen and (max-width: 610px) {
  header nav ul {
    width: 85vw;
    height: 7vh;
  }

  #product-cart {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #product-cart .photo {
    width: 85vw;
    height: auto;
  }

  #product-cart .column {
    width: 85vw;
    height: 40vh;
    padding-top: 10px;
    padding-left: 0px;
    justify-content: space-around;
  }

  #product-cart p {
    height: 40vh;
    width: 100%;
    line-height: 2vh;
  }

  .cart {
    padding-top: 10px;
  }

  #product-cart .column .product-details {
    height: 10vh;
  }
}

@media screen and (max-height: 600px) {
  header nav ul {
    width: 85vw;
    height: 7vh;
  }

  #product-cart {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  #product-cart .photo {
    width: 85vw;
    height: auto;
  }

  #product-cart .column {
    width: 85vw;
    height: 40vh;
    padding-top: 10px;
    padding-left: 0px;
    justify-content: space-around;
  }

  #product-cart p {
    height: 40vh;
    width: 100%;
    line-height: 2vh;
  }

  .cart {
    padding-top: 10px;
  }

  #product-cart .column .product-details {
    height: 10vh;
  }
}
